body{
    background-color: cornflowerblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#zone_insertion{
    border: 2px solid black;
    display: flex;
}

button:hover{
    cursor: pointer;
}

ul{
    list-style: none;

    width: 200px;
}

/* ÉLÉMENTS DE LA LISTE */
li{
    font-size: 20px;

    transition-duration: 0.3s;
}

li:hover{
    cursor: pointer;
}
/* _____________________________ */



/* ÉLÉMENTS PAIRS DE LA LISTE */
li:nth-child(even){
    background-color: black;
    color: white;
}

li:nth-child(even):hover{
    background-color: gray; 
}
/* _____________________________ */


/* ÉLÉMENTS IMPAIRS DE LA LISTE */
li:nth-child(odd){
    background-color: white;
    color: black;
}

li:nth-child(odd):hover{
    background-color: gray;
}
/* _____________________________ */

.barrée{
    text-decoration: line-through;
}

/* BOUTON DE SUPPRESSION */
.suppr{
    width: 20px;
    height: 20px;

    border: none;
    background-color: rgb(210, 0, 0);
    color: white;

    text-decoration: none;
}